@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-gray-950 text-gray-100 font-sans;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
